<launch>

    <node pkg="rosbag" type="play" name="rosbag" args="-l $(find line_detector)/data/test_video_car.bag" />

    <!-- Launch ROS line_detector Node -->
    <node pkg="line_detector" type="line_detector_node.py"
          name="line_detector" output="screen"
          clear_params="true" required="true">
        <rosparam command="load" file="$(find line_detector)/config/zed_default_bag.yaml"/>
    </node>

</launch>
