<launch>

    <!-- Launch ROS line_detector Node -->
    <node pkg="board_connection" type="board_connection_node.py"
          name="board_connection" output="screen"
          clear_params="true" required="true">
        <rosparam command="load" file="$(find board_connection)/config/default.yaml"/>
    </node>

</launch>
