<launch>

    <!-- Launch ZED Camera Node -->
    <include file="$(find line_detector)/launch/video.launch"/>

    <!-- Launch ROS line_detector Node -->
    <node pkg="board_connection" type="board_connection_node.py"
          name="board_connection" output="screen"
          clear_params="true" required="true">
        <rosparam command="load" file="$(find board_connection)/config/default.yaml"/>
    </node>

    <!-- Run rosserial Node for communication -->
    <node pkg="rosserial_python" type="serial_node.py" name="board_node"
          args="/dev/ttyACM0"/>

</launch>
