<launch>

    <node pkg="birds_eye" type="birds_eye_node.py"
          name="birds_eye" output="screen"
          clear_params="true" required="true">
        <rosparam command="load" file="$(find birds_eye)/config/verbose.yaml"/>
        <rosparam command="load" file="$(find line_detector)/config/sizes.yaml"/>
    </node>

</launch>
